body {
  background-color: rgba(137, 177, 105, 0.3);
  margin: 0 auto;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}

.serif {
  font-family: 'Libre Baskerville';

}

h1 {
  font-size: 48px;
}

#header-img {
  background-size: cover;
  width: 100%;


}

#header-title {
  /* z-index: 1; */
}
